.Name{
    padding-right: 5px;

}
.Forward{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5em;
    border-color: black;
}

.Backward{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5em;
    border-color: black;
}