.inner-footer {
    width: 100%;
    vertical-align: middle;
    background-color: #00d2ff;
    height: 100px;
    margin-top: 5em;
    color: white;
    display: table;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 20px;
  }
  
  .inner-footer a {
    color: white;
  }
  
  i {
    font-size: 17px;
    text-align: center;
    padding: 0px 6px;
  }

  .logo img {
    height: 70px;
    float: left;
    padding-left: 30px;
    
  }
  
  i:hover {
    color: blue;
  }
  
  .footerContent {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }

  @media only screen and (max-width: 800px) {
    .inner-footer {
      width: 100vw;
      vertical-align: middle;
      background-color: #00b0bf;
      height: 50px;
      margin-top: 5em;
      color: white;
      display: table;
      font-family: 'Times New Roman', Times, sans-serif;
      font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
  .inner-footer {
    width: 100vw;
    vertical-align: middle;
    background-color: black;
    height: 50px;
    margin-top: 5em;
    color: white;
    display: table;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 20px;
  }
}