
  .form {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
    vertical-align: middle;
    text-align: center;
  }
  
  .contact {
    display: block;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .contact label {
    display: block;
  }
   
  .contact input {
    height: 20px;
    width: 25%;
  }
  
  .contact textarea {
    height: 100px;
    width: 25%;
  }

  .btn{
      height: 30px;
      width:80px;
      border-radius: 5px;
  }

  @media only screen and (max-width: 600px) {
    .contact input {
        font-size: 20px;
        height: 40px;
        width: 60%;
      }
      
      .contact textarea {
        font-size: 20px;
        height: 100px;
        width: 60%;
      }
    
      .btn{
          height: 30px;
          width:80px;
          border-radius: 5px;
  }
}